nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0%;
  width: 100%;
  height: 3rem;
  margin: 1rem 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(110, 2, 2, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(110, 2, 2, 1) 100%);
  z-index: 10;
  ul {
    display: flex;
    justify-content: center;
    width: 100%;
    li {
      list-style: none;
      a {
        font-size: 2rem;
        color: white;
        text-decoration: none;
        transition: all 300ms ease-in-out;
        text-decoration: underline solid black;
        &:hover {
          text-decoration: underline solid red;
        }
      }
    }
  }
}

.nav-title {
  font-size: 2rem;
}

.nav-icon {
  margin: 0 1em;
  align-self: center;
  animation: nav-icon-rotate 4s linear infinite;
}

// Animation
@keyframes nav-icon-rotate {
  0% {
    transform: rotate(0deg);
    color: rgb(255, 255, 255);
  }
  50% {
    color: rgb(255, 0, 0);
    transform: rotate(180deg) scale(1.5);
  }

  100% {
    transform: rotate(360deg);
    color: rgb(255, 255, 255);
  }
}
