.table-header {
  width: 80%;
  margin: 0 10%;
  color: white;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(110, 2, 2, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(110, 2, 2, 1) 100%
  );

  & th {
    width: 25%;
    border: 1px solid red;

    & div {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      padding: 1rem;
      position: sticky;
      & button {
        border: none;
        outline: none;
      }
      & > :nth-child(1) {
        background: none;
        &::before {
          content: "\25BC";
          color: white;
        }
      }
      & > :nth-child(3) {
        background: none;
        &::after {
          content: "\25B2";
          color: white;
        }
      }
    }
  }
}
