* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Scrollbar
body::-webkit-scrollbar {
  width: 2rem;
  &-track {
    background: rgba(0, 0, 0, 1);
  }
  &-thumb {
    background: rgba(255, 0, 0, 1);
  }
}

h1 {
  margin-top: 1rem;
  text-align: center;
}

table {
  border-collapse: collapse;
  word-break: break-all;
  // margin: 0 10%;
}

.table-nav {
  margin: 1rem auto;
  & input,
  select {
    padding: 1rem;
    font-size: 1rem;
  }
}

.table-header {
  width: 100%;
  background-color: yellow;
  & th {
    width: 25%;
    border: 1px solid black;
    & select {
      background-color: red;
      padding: 0.5rem;
      width: 100%;
    }

    & div {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      & span {
        padding: 0 2rem;
      }
      & button {
        border: none;
        outline: none;
      }
      & > :nth-child(1) {
        background: none;
        &::before {
          content: "\25BC";
        }
      }
      & > :nth-child(3) {
        background: none;
        &::after {
          content: "\25B2";
        }
      }
    }
  }
}

.table-list {
  table-layout: fixed;
  position: relative;
  width: 100%;
  & td {
    position: relative;
    border: 1px solid red;
    padding: 1rem;
    width: 20%;
    text-align: center;
    vertical-align: center;
  }
}

.misc_absolute-delete {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: scale(1.5) translateY(-25%);
}

.edit_table-body {
  table-layout: fixed;
  width: 100%;
  & tr {
    position: relative;
    // display: flex;
    & > :nth-child(1),
    :nth-child(2),
    :nth-child(3),
    :nth-child(4) {
      background: red;
      width: 25%;
    }
    & > :nth-child(5) {
      position: absolute;
      bottom: 0%;
      right: 1rem;
      width: auto;
      padding: 0;
      background-color: blue;
    }
    & > :nth-child(6) {
      position: absolute;
      top: 0%;
      right: 1rem;
      width: auto;
      padding: 0;
      background-color: blue;
    }
  }
  & button {
    padding: 0.25rem;
    font-size: 0.75rem;
    // width: 25%;
  }
  & td {
    border: 1px solid red;
    padding: 1rem;
    width: 25%;
    text-align: center;
    vertical-align: center;
  }
}
