@import "./components/navbar/Navbar";
@import "./components/_Playlist/features/songform/SongForm";
@import "./components/_Playlist/features/header/Header";
@import "./components/_Playlist/features/playlist/Playlist";
@import "./components/footer/Footer";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Scrollbar
body::-webkit-scrollbar {
  width: 2rem;
  &-track {
    background: rgba(0, 0, 0, 1);
  }
  &-thumb {
    background: rgba(255, 0, 0, 1);
  }
}

table {
  border-collapse: collapse;
  word-break: break-all;
  // margin: 0 10%;
}
